/* .templates-list {
  position: absolute;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #fff;
} */

.templates-list div {
  padding: 0.5rem;
  cursor: pointer;
}
/*
.templates-list div:hover,
.templates-list div.selected {
  background-color: #f2f2f2;
} */
