.templates-list {
  margin: 5px;
  padding: 5px;
}

.templates-list div div {
  font-size: 0.8rem;
  padding: 2px;
}

/* .templates-list div div .template-name {
  font-size: 1rem;
}

.templates-list div div p.template-description {
  /* color: #ccc; */
  /* opacity: 0.9; */
} */
